@using FarmaShop.Web.Util
@model FarmaShop.Web.Models.Item.ItemCategoryModel

@{
    // The category of the displayed item
    var categoryId = Util.GetCategoryIdFromUrl(Context.Request.Path.ToString());

    var urlLocation = "location.href='";
    //new item for admins
    if (Model.Id == -1)
    {
        urlLocation += Url.Action("New", "Item", new {id = Model.Categories.ToList()[0].Id});
    }
    else
    {
        urlLocation += Url.Action("Index", "Item", new {id = Model.Id, fromCategory = categoryId});
    }
    urlLocation += "'";
}

<div class="card m-5" style="width: 18rem;">
    <div class="card-body" onclick="@urlLocation" >
        @{
            Model.ImageUrl ??= "/favicon.ico";
        }
        <img class="card-img-top m-2" src="@Model.ImageUrl" alt="@Model.Name Image">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">@Model.ShortDescription</p>
        <h4 class="card-text text-center">@Model.Price Lei</h4>
    </div>
    @if (Model.InStock > 0 && Model.InStock < 5)
    {
        <div class="card-footer text-warning text-center">
            Stoc limitat
        </div>
    }
    else if (Model.InStock == 0)
    {
        <div class="card-footer text-warning text-center">
            Stoc epuizat
        </div>
    }
    @if (User.IsInRole("Admin") && Model.Id != -1)
    {
        <div class="card-footer">
            <div class="text-center">
                <i class="fas fa-edit fa-2x" onclick="location.href='@Url.Action("Edit", "Item", new {id = Model.Id})'"></i>
                <i class="fas fa-trash fa-2x" data-toggle="modal" data-target="#exampleModalCenter" onclick="ShowConfirmDialog(@Model.Id)"></i>
            </div>
            <div class="text-center text-muted">Optiuni administrator</div>
        </div> 
    }
</div>
