@model FarmaShop.Web.Models.Item.ItemCategoryModel

@{
    // The category of the displayed item
    var path = Context.Request.Path.ToString().Split("/");
    var categoryId = int.Parse(path[path.Length - 1]);

    var urlLocation = "location.href='";
    //new item for admins
    if (Model.Id == -1)
    {
        urlLocation += Url.Action("New", "Item", new {id = Model.Categories.ToList()[0].Id});
    }
    else
    {
        urlLocation += Url.Action("Index", "Item", new {id = Model.Id, fromCategory = categoryId});
    }
    urlLocation += "'";
}

<div class="card m-5" style="width: 18rem;">
    <div class="card-body" onclick="@urlLocation" >
        @{
            Model.ImageUrl ??= "/favicon.ico";
        }
        <img class="card-img-top m-2" src="@Model.ImageUrl" alt="@Model.Name Image">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">@Model.ShortDescription</p>
        <h4 class="card-text text-center">@Model.Price Lei</h4>
    </div>
    @if (Model.InStock > 0 && Model.InStock < 5)
    {
        <div class="card-footer text-warning text-center">
            Stoc limitat
        </div>
    }
    else if (Model.InStock == 0)
    {
        <div class="card-footer text-warning text-center">
            Stoc epuizat
        </div>
    }
</div>
